<div class="main_wrapper">


    <div class="banner carousel slide" id="recommended-item-carousel" data-ride="carousel">
        <div class="slides carousel-inner">
            <div class="item active">
                <img src="img/home/slider/slider_image_1.jpg" alt="" />
                <div class="banner_caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="caption_inner animated fadeInUp">
                                    <h1>欢迎来到大数据实训平台</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.
                                    </p>
                                    <a href="about.html">了解更多</a>
                                </div>
                                <!--end caption_inner-->
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
                <!--end banner_caption-->
            </div>
            <div class="item">
                <img src="img/home/slider/slider_image_2.jpg" alt="" />
                <div class="banner_caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="caption_inner animated fadeInUp">
                                    <h1>前端进阶：响应式开发与常用框架</h1>
                                    <p>
                                        首先恭喜你顺利通关了前端小白的课程，本路径属于进阶段位，主要关卡覆盖以下三个阶段。 第一关，适配。本关卡将通过学习HTML5与CSS3实现动态特效网站；通过对移动基础、响应式的讲解，Get√适配不同移动设备的技能； 第二关，搭建。本关卡将通过对Bootstrap框架的讲解，让小白毕业生从原生编写迅速过渡到使用Bootstrap快速搭建网页结构； 第三关，高效。本关卡将主攻CSS的预处理语言“Less”，因为Less将大幅减少编写原生CSS代码的工作量。而且对于前端攻城狮来说，代码更容易管理，开发效率倍增。
                                    </p>
                                    <a href="buying-steps.html">立即申请</a>
                                </div>
                                <!--end caption_inner-->
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
                <!--end banner_caption-->
            </div>
            <div class="item">
                <img src="img/home/slider/slider_image_3.jpg" alt="" />
                <div class="banner_caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="caption_inner animated fadeInUp">
                                    <h1>Arrange a tour to our college</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.
                                    </p>
                                    <a href="contact-us.html">联系我们</a>
                                </div>
                                <!--end caption_inner-->
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
                <!--end banner_caption-->
            </div>
            <div class="item">
                <img src="img/home/slider/slider_image_4.jpg" alt="" />
                <div class="banner_caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="caption_inner animated fadeInUp">
                                    <h1>Find your dream course</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.
                                    </p>
                                    <a href="course-fullwidth.html">查找课程</a>
                                </div>
                                <!--end caption_inner-->
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
                <!--end banner_caption-->
            </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <img src="img/home/slider/prev.png">
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <img src="img/home/slider//next.png">
        </a>
    </div>
    <!--end banner-->

    <div class="aboutArea">
        <div class="container">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <div class="aboutTitle">
                        <h2>热门课程</h2>
                    </div>
                    <!-- aboutTitle -->
                </div>
                <!-- col-sm-3 col-xs-12 -->
            </div>
            <!-- row clearfix -->

            <div class="about_inner clearfix">
                <!-- <div class="row"> -->
                <!-- <div class="col-xs-6 col-sm-3">
                        <div class="aboutImage">
                            <a href="single-course-right-sidebar.html">
                                <img src="img/home/learn/learn_1.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                                </div>
                                <span class="captionLink">English Literature<span></span></span>
                            </a>
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="aboutImage">
                            <a href="single-course-right-sidebar.html">
                                <img src="img/home/learn/learn_2.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                                </div>
                                <span class="captionLink">Business Administration<span></span></span>
                            </a>
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="aboutImage">
                            <a href="single-course-right-sidebar.html">
                                <img src="img/home/learn/learn_3.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                                </div>
                                <span class="captionLink">Computer Science<span></span></span>
                            </a>
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="aboutImage">
                            <a href="single-course-right-sidebar.html">
                                <img src="img/home/learn/learn_4.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                                </div>
                                <span class="captionLink">Mathematics<span></span></span>
                            </a>
                        </div>

                    </div>
                </div> -->
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="course in courses">
                        <div class="imageBox">
                            <div class="productImage clearfix">
                                <a ui-sref="index.courseDetail"><img src="{{course.image}}" alt="Image"></a>
                                <span class="sticker"><i class="fa fa-clock-o" aria-hidden="true"></i>{{course.duration}}</span>
                            </div>
                            <div class="productCaption clearfix">
                                <h3><a href="single-course-right-sidebar.html">{{course.name}}</a></h3>
                                <div class="product-meta">
                                    <span class="author">授课教师 : {{course.teacher}}</span>
                                </div>
                                <div class="rating">
                                    <span class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </span>
                                    <span class="rating-review">(20 Reviews)</span>
                                </div>
                                <div class="caption-bottom">
                                    <div class="price">
                                        <span class="offer-price">￥{{course.price}}</span>
                                        <span class="regular-price"><del>￥{{course.originPrice}}</del></span>
                                    </div>
                                    <div class="user">
                                        <i class="fa fa-users">&nbsp;&nbsp;{{course.studentNum}}</i>
                                        <span class="course-user"></span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!-- about_inner -->

        </div>
        <!-- container -->
    </div>
    <!-- aboutArea -->

    <div class="mainContent clearfix">
        <div class="container">
            <div class="row clearfix">

                <div class="col-sm-8 col-xs-12">
                    <div class="videoNine clearfix">

                        <div class="videoArea clearfix">
                            <h3>欢迎来到Phoenix</h3>
                            <div class="row">
                                <div class="col-lg-8 col-md-7 col-xs-12 videoLeft">
                                    <img src="img/home/video/video_image.jpg" data-video="https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1">
                                </div>
                                <!-- videoLeft -->
                                <div class="col-lg-4 col-md-5 col-xs-12 videoRight">
                                    <p>Phoenix是一个大数据实训平台，是国内领先的IT技术实训平台，采用创新的“在线实验”学习模式，为学生及在职程序员提供编程、运维、测试、云计算、大数据、数据库等最新的IT技术实践课程。<br> 帮助学习者通过动手实践收获知识，同时体会实验精神。从实践切入，依靠交互性、操作性更强的课程，理论学习+动手实践共同激发你的创造力。
                                    </p>
                                    <a href="about.html" class="btn btn-block learnBtn">了解更多</a>
                                </div>
                                <!-- videoRight -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- videoArea -->

                        <div class="related_post_sec single_post">
                            <h3>最新课程</h3>
                            <ul>
                                <li>
                                    <span class="rel_thumb">
                          <a href="single-post-right-sidebar.html"><img src="img/news/related_thumb_01.png" alt=""></a>
                        </span>
                                    <!--end rel_thumb-->
                                    <div class="rel_right">
                                        <h4><a href="single-post-right-sidebar.html">前端进阶：响应式开发与常用框架</h1>
                                            <p></a></h4>
                                        <div class="meta">
                                            <span class="author">Posted in: <a href="#">Update</a></span>
                                            <span class="date">on: <a href="#">January 24, 2015</a></span>
                                        </div>
                                        <p>
                                            首先恭喜你顺利通关了前端小白的课程，本路径属于进阶段位，主要关卡覆盖以下三个阶段。 第一关，适配。本关卡将通过学习HTML5与CSS3实现动态特效网站；通过对移动基础、响应式的讲解，Get√适配不同移动设备的技能； 第二关，搭建。本关卡将通过对Bootstrap框架的讲解，让小白毕业生从原生编写迅速过渡到使用Bootstrap快速搭建网页结构 ...
                                        </p>
                                    </div>
                                    <!--end rel right-->
                                </li>
                                <li>
                                    <span class="rel_thumb">
                          <a href="single-post-right-sidebar.html"><img src="img/news/related_thumb_02.jpg" alt=""></a>
                        </span>
                                    <!--end rel_thumb-->
                                    <div class="rel_right">
                                        <h4><a href="single-post-right-sidebar.html">Java零基础入门</a></h4>
                                        <div class="meta">
                                            <span class="author">Posted in: <a href="#">Exam</a></span>
                                            <span class="date">on: <a href="#">January 24, 2015</a></span>
                                        </div>
                                        <p>
                                            Java作为面向对象编程语言的代表，极好地实现了面向对象理论，允许程序员以优雅的思维方式进行复杂的编程。据IDC统计，Java在所有软件开发类人才的需求中，对Java工程师的需求曾达到全部需求量的50%以上。TIOBE指数显示，Java编程已经超过了20%的普及门槛，这意味着每五行源代码当中就有一行采用Java编写 第...
                                        </p>
                                    </div>
                                    <!--end rel right-->
                                </li>
                            </ul>
                        </div>
                        <!--related_post_sec-->

                    </div>
                    <!--videoNine-->
                </div>
                <!-- col-sm-8 col-xs-12 -->

                <div class="col-sm-4 col-xs-12">
                    <div class="formArea clearfix">
                        <div class="formTitle">
                            <h3>查找课程</h3>
                            <p>小班化，强调规格和考试技术的要求。</p>
                        </div>
                        <!-- formTitle -->
                        <form class="m-t" role="form">


                            <div class="form-group">
                                <select class="form-control" ng-model="searchCourseType" ng-options="item.label for item in courseTypes" ng-init="searchCourseType=courseTypes[0]" ng-change="change()"></select>

                            </div>

                            <div class="form-group">
                                <select class="form-control" ng-model="searchCourseDetailType" ng-options="item.label for item in searchCourseType.contain" ng-init="searchCourseDetailType=searchCourseType.contain[0]"></select>

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="课程名称">
                            </div>

                            <button type="submit" class="btn btn-default btn-block commonBtn">搜索</button>
                        </form>
                    </div>
                    <!-- formArea -->
                    <div class="list_block related_post_sec">
                        <div class="upcoming_events">
                            <h3>最新通知</h3>
                            <ul>
                                <li class="related_post_sec single_post">
                                    <span class="date-wrapper">
                          <span class="date"><span>24</span>January</span>
                                    </span>
                                    <div class="rel_right">
                                        <h4><a href="single-events.html">Offered in small class sizes with great emphasis...</a></h4>
                                        <div class="meta">
                                            <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                                            <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="related_post_sec single_post">
                                    <span class="date-wrapper">
                          <span class="date"><span>24</span>January</span>
                                    </span>
                                    <div class="rel_right">
                                        <h4><a href="single-events.html">Offered in small class sizes with great emphasis...</a></h4>
                                        <div class="meta">
                                            <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                                            <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="related_post_sec single_post">
                                    <span class="date-wrapper">
                          <span class="date"><span>24</span>January</span>
                                    </span>
                                    <div class="rel_right">
                                        <h4><a href="single-events.html">Offered in small class sizes with great emphasis...</a></h4>
                                        <div class="meta">
                                            <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                                            <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="events-3col.html" class="btn btn-default btn-block commonBtn">更多事件</a>
                        </div>
                    </div>
                    <!-- end list_block -->
                </div>
                <!-- col-sm-4 col-xs-12 -->

            </div>
            <!-- row clearfix -->
        </div>
        <!-- container -->
    </div>
    <!-- mainContent -->

    <div class="count clearfix wow fadeIn paralax" data-wow-delay="100ms" style="background-image: url(img/home/paralax/paralax03.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-group"></i></div>
                        <div class="counter">
                            <span class="timer">8298</span>
                        </div>
                        <div class="seperator-small"></div>
                        <p>学生</p>
                    </div>
                </div>
                <!-- col-sm-3 -->
                <div class="col-xs-6 col-sm-3">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-book"></i></div>
                        <div class="counter">
                            <span class="timer">142</span>
                        </div>
                        <div class="seperator-small"></div>
                        <p>课程</p>
                    </div>
                </div>
                <!-- col-sm-3 -->
                <div class="col-xs-6 col-sm-3">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-male"></i></div>
                        <div class="counter">
                            <span class="timer">1047</span>
                        </div>
                        <div class="seperator-small"></div>
                        <p>方向</p>
                    </div>
                </div>
                <!-- col-sm-3 -->
                <div class="col-xs-6 col-sm-3">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-map-marker"></i></div>
                        <div class="counter">
                            <span class="timer">10</span>
                        </div>
                        <div class="seperator-small"></div>
                        <p>学校</p>
                    </div>
                </div>
                <!-- col-sm-3 -->
            </div>
            <!-- row -->
            <!-- <div class="paralax-text text-center">
                <h2>Do you like this template?</h2>
                <p>nec congue consequat risus, nec volutpat enim tempus id. Proin et sapien eget diam ullamcorper consectetur. Sed blandit imperdiet mauris. Mauris eleifend faucib</p>
                <p>ipsum quis varius. Quisque pharetra leo erat, non eleifend nibh interdum quis.</p>
                <a href="buying-steps.html" class="btn btn-default commonBtn">Buy now</a>
            </div> -->
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- count -->

    <div class="testimonial-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="testimonial">
                        <div class="carousal_content">
                            <p>这个平台真是太好了，通过学习这门课程让我掌握了spring boot项目中绝大部分知识，能够独立完成一个spring boot的后端项目</p>
                        </div>
                        <div class="carousal_bottom">
                            <div class="thumb">
                                <img src="img/about/SARA-LISBON_Art-Student.jpg" alt="" draggable="false">
                            </div>
                            <div class="thumb_title">
                                <span class="author_name">张君义</span>
                                <span class="author_designation">学生<a href="#"> Spring Boot实战</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- testimonial -->
                </div>
                <!-- col-xs-12 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="features">
                        <h3>为什么选择我们?</h3>
                        <ul>
                            <li><i class="fa fa-check-circle-o"></i>为你的大学提供了一整套的解决方案</li>
                            <li><i class="fa fa-check-circle-o"></i>随时随地做实验</li>
                            <li><i class="fa fa-check-circle-o"></i>老师在线及时反馈</li>
                            <li><i class="fa fa-check-circle-o"></i>反复学习，温故知新</li>
                            <!-- <li><i class="fa fa-check-circle-o"></i></li> -->
                        </ul>
                    </div>
                </div>
                <!-- col-xs-12 -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- testimonial-section -->

    <!-- <div class="brandSection clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="owl-carousel partnersLogoSlider">
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand1.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand2.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand3.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand4.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand5.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand1.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand2.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand3.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand4.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand5.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Brand-section -->

</div>