<div class="main_wrapper">


    <div class="aboutArea">
        <div class="container">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <div class="aboutTitle">
                        <h2>热门课程</h2>
                    </div>
                    <!-- aboutTitle -->
                </div>
                <!-- col-sm-3 col-xs-12 -->
            </div>
            <!-- row clearfix -->

            <div class="about_inner clearfix">
                <!-- <div class="row"> -->
                <!-- <div class="col-xs-6 col-sm-3">
                        <div class="aboutImage">
                            <a href="single-course-right-sidebar.html">
                                <img src="img/home/learn/learn_1.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                                </div>
                                <span class="captionLink">English Literature<span></span></span>
                            </a>
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="aboutImage">
                            <a href="single-course-right-sidebar.html">
                                <img src="img/home/learn/learn_2.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                                </div>
                                <span class="captionLink">Business Administration<span></span></span>
                            </a>
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="aboutImage">
                            <a href="single-course-right-sidebar.html">
                                <img src="img/home/learn/learn_3.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                                </div>
                                <span class="captionLink">Computer Science<span></span></span>
                            </a>
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="aboutImage">
                            <a href="single-course-right-sidebar.html">
                                <img src="img/home/learn/learn_4.jpg" alt="" class="img-responsive" />
                                <div class="overlay">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                                </div>
                                <span class="captionLink">Mathematics<span></span></span>
                            </a>
                        </div>

                    </div>
                </div> -->
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="course in courses|filter:common.searchData">
                        <div class="imageBox">
                            <div class="productImage clearfix">
                                <a ui-sref="index.courseDetail1({courseId:course.id})"><img src="{{course.image}}" alt="Image"></a>
                                <!-- <span class="sticker"><i class="fa fa-clock-o" aria-hidden="true"></i>{{course.duration}}</span> -->
                            </div>
                            <div class="productCaption clearfix">
                                <h3><a ui-sref="index.courseDetail1({courseId:course.id})">{{course.name}}</a></h3>
                                <div class="product-meta">
                                    <span class="author">授课教师 : {{course.teacher}}</span>
                                </div>
                                <div class="rating">
                                    <span class="rating-star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                      </span>
                                    <span class="rating-review">(推荐指数)</span>
                                </div>
                                <div class="caption-bottom">
                                    <div class="price">
                                        <span class="offer-price"> <i class="fa fa-clock-o"></i>  {{course.duration}}</span>
                                        <!-- <span class="regular-price"><del>￥{{course.originPrice}}</del></span> -->
                                    </div>
                                    <div class="user">
                                        <i class="fa fa-users">&nbsp;&nbsp;{{course.studentNum}}</i>
                                        <span class="course-user"></span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!-- about_inner -->

        </div>
        <!-- container -->
    </div>
    <!-- aboutArea -->

    <div class="mainContent clearfix">
        <div class="container">
            <div class="row clearfix">

                <div class="col-sm-8 col-xs-12">
                    <div class="videoNine clearfix">

                        <div class="videoArea clearfix">
                            <h3>欢迎来到Phoenix</h3>
                            <div class="row">
                                <div class="col-lg-8 col-md-7 col-xs-12 videoLeft">
                                    <video src="http://101.227.216.159/vlive.qqvideo.tc.qq.com/ANZqXvUGVRqfdT9jVHMzAd7cfsPoNgi86fkIsp4Ak27c/f0024z1tler.p212.1.mp4?sdtfrom=v1010&guid=889582358d300a201697f0889cbb305a&vkey=1552CAEACF0AA5632B83B98A85E74DD1EAD9D1B2DC5BF1E7A44A79DCA2AB14F01D0C08F8B4E3013C053FA585A11238ABCBE6E9ED26077C578450923FBDC6D94163810B73262C5B27E6B2CEAECD8E9FF57F3E34332979DBB917386E53E5F0B2C864D8BF10DBC365D2F135CDBF1AA96E5478538A34CEE57CB3#t=124"
                                        poster="img/home/video/video_image.jpg" ng-click="play()"></video>
                                    <!-- <img src="img/home/video/video_image.jpg" data-video="https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1"> -->
                                </div>
                                <!-- videoLeft -->
                                <div class="col-lg-4 col-md-5 col-xs-12 videoRight">
                                    <p>Phoenix是一个大数据实训平台，是国内领先的IT技术实训平台，采用创新的“在线实验”学习模式，为学生及在职程序员提供编程、运维、测试、云计算、大数据、数据库等最新的IT技术实践课程。<br> 帮助学习者通过动手实践收获知识，同时体会实验精神。从实践切入，依靠交互性、操作性更强的课程，理论学习+动手实践共同激发你的创造力。
                                    </p>
                                    <a ui-sref="index.about" class="btn btn-block learnBtn">了解更多</a>
                                </div>
                                <!-- videoRight -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- videoArea -->

                        <!--related_post_sec-->

                    </div>
                    <!--videoNine-->
                </div>
                <!-- col-sm-8 col-xs-12 -->

                <div class="col-sm-4 col-xs-12">

                    <!-- formArea -->
                    <div class="list_block related_post_sec">
                        <div class="upcoming_events">
                            <h3>最新通知</h3>
                            <ul>
                                <li class="related_post_sec single_post">
                                    <span class="date-wrapper">
                          <span class="date"><span>27</span>9月</span>
                                    </span>
                                    <div class="rel_right">
                                        <h4><a href="">本科2016-2017学年国奖、上海市奖学金评选结果公示</a></h4>
                                        <div class="meta">
                                            <!-- <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                                            <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="related_post_sec single_post">
                                    <span class="date-wrapper">
                                    <span class="date"><span>26</span>9月</span>
                                    </span>
                                    <div class="rel_right">
                                        <h4><a href="">2016-2017学年软件学院研究生国家奖学金评审结果公示</a></h4>
                                        <div class="meta">
                                            <!-- <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                                            <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="related_post_sec single_post">
                                    <span class="date-wrapper">
                                <span class="date"><span>24</span>9月</span>
                                    </span>
                                    <div class="rel_right">
                                        <h4><a href="">关于2018届预计毕业生《就业推荐表》办理的通知</a></h4>
                                        <div class="meta">
                                            <!-- <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                                            <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span> -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="" class="btn btn-success btn-block" style="width:100%">更多通知</a>
                        </div>
                    </div>
                    <!-- end list_block -->
                </div>
                <!-- col-sm-4 col-xs-12 -->

            </div>
            <!-- row clearfix -->
        </div>
        <!-- container -->
    </div>
    <!-- mainContent -->

    <div class="count clearfix wow fadeIn paralax" data-wow-delay="100ms" style="background-image: url(img/home/paralax/paralax03.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-group"></i></div>
                        <div class="counter">
                            <span class="timer">8298</span>
                        </div>
                        <div class="seperator-small"></div>
                        <p>学生</p>
                    </div>
                </div>
                <!-- col-sm-3 -->
                <div class="col-xs-6 col-sm-3">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-book"></i></div>
                        <div class="counter">
                            <span class="timer">142</span>
                        </div>
                        <div class="seperator-small"></div>
                        <p>课程</p>
                    </div>
                </div>
                <!-- col-sm-3 -->
                <div class="col-xs-6 col-sm-3">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-male"></i></div>
                        <div class="counter">
                            <span class="timer">1047</span>
                        </div>
                        <div class="seperator-small"></div>
                        <p>方向</p>
                    </div>
                </div>
                <!-- col-sm-3 -->
                <div class="col-xs-6 col-sm-3">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-map-marker"></i></div>
                        <div class="counter">
                            <span class="timer">10</span>
                        </div>
                        <div class="seperator-small"></div>
                        <p>学校</p>
                    </div>
                </div>
                <!-- col-sm-3 -->
            </div>
            <!-- row -->
            <!-- <div class="paralax-text text-center">
                <h2>Do you like this template?</h2>
                <p>nec congue consequat risus, nec volutpat enim tempus id. Proin et sapien eget diam ullamcorper consectetur. Sed blandit imperdiet mauris. Mauris eleifend faucib</p>
                <p>ipsum quis varius. Quisque pharetra leo erat, non eleifend nibh interdum quis.</p>
                <a href="buying-steps.html" class="btn btn-default commonBtn">Buy now</a>
            </div> -->
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- count -->


    <!-- testimonial-section -->

    <!-- <div class="brandSection clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="owl-carousel partnersLogoSlider">
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand1.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand2.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand3.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand4.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand5.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand1.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand2.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand3.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand4.png" /></a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="partnersLogo clearfix">
                                <a href="#"><img src="img/home/brand5.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Brand-section -->

</div>