<div class="main_wrapper">
    <div class="mainContent clearfix">


        <div class="container">
            <div class="row">

                <div class="col-sm-5 m-b-xs">
                    <h3>{{courseName}}/{{moduleName}}/作业列表
                    </h3>
                </div>
                <div class="col-sm-3 m-b-xs">

                </div>
                <div class="col-sm-4">

                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="q" ng-options="item.value as item.label for item in condition" ng-change="change()"></select>

                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="p" ng-options="item.value as item.label for item in condition1" ng-change="change()"></select>

                </div>
                <!-- <div class="col-sm-4 m-b-xs">
                    <select class="form-control" ng-model="q" ng-options="item.value as item.label for item in condition" ng-change="change()"></select>
                </div> -->

                <div class="col-sm-4">


                </div>
            </div>
            <hr>
            <div class="table-responsive" ng-repeat="item in courseContent|filter:q">
                <div class="row">
                    <div class="col-sm-2">
                        <h4 style="margin-top:10px">{{item.homeworkName}}</h4>
                    </div>
                    <div class="col-sm-2">
                        <h5 style="margin-top:5px">
                            已提交的作业：{{item.completedCount}}/{{item.homeworkSubmissionList.length}}</h5>
                    </div>
                    <div class="col-sm-2">
                        <!-- <select class="form-control" ng-model="q" ng-options="item.value as item.label for item in condition" ng-change="change()"></select> -->

                    </div>
                    <div class="col-sm-3">
                        <!-- <select class="form-control" ng-model="q" ng-options="item.value as item.label for item in condition" ng-change="change()"></select> -->

                    </div>
                    <div class="col-sm-2">
                        <!-- <select class="form-control" ng-model="p" ng-options="item.value as item.label for item in condition"></select> -->

                    </div>
                </div>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <tr>


                            <th>学生名</th>
                            <th>学号</th>
                            <th>是否提交</th>

                            <th>最后提交日期</th>
                            <th>截止日期</th>
                            <th>
                                操作
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detail in item.homeworkSubmissionList |filter:filterFunc">

                            <td>{{detail.studentName}}
                            </td>
                            <td>{{detail.studentNo}}</td>
                            <td><a href=""><i class="fa fa-check " ng-class="{'true':'fa-check text-navy','false':'fa-times text-danger'}[detail.completed]"></i></a></td>


                            <td>{{detail.lastEditDate}}</td>
                            <td>{{detail.dueDate}}</td>

                            <td>
                                <!-- <button type="button" class="btn btn-success btn-outline" ng-click="startExp()">启动</button> -->
                                <button type="button" class="btn btn-success btn-outline" ng-disabled="!detail.completed" ng-click="checkHomework(detail, item.imageTypeId)">查看作业</button>

                                <button type="button" class="btn btn-success btn-outline" ng-disabled="!detail.completed" ng-click="grade(detail.studentHomeworkId)">评分</button>


                                <!-- <button type="button" class="btn btn-primary btn-outline" ng-click="doHomework()">做作业</button> -->

                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>