<div class="main_wrapper">
    <div class="mainContent clearfix">


        <div class="container">
            <div class="row">

                <div class="col-sm-5 m-b-xs">
                    <h3>Python语言与数据分析
                    </h3>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-5 m-b-xs">
                    <select class="form-control" ng-model="q" ng-options="item.value as item.label for item in condition" ng-change="change()"></select>
                </div>
            </div>
            <div class="table-responsive" ng-repeat="item in courseContent|filter:q">
                <table class="table table-striped">
                    <thead>
                        <tr>


                            <th>{{item.moduleName}}</th>
                            <th>作业描述</th>
                            <th>Completed</th>
                            <th>Task</th>
                            <th>Date</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detail in item.moduleContent">

                            <td>{{detail.experimentName}}
                            </td>
                            <td>{{detail.experimentDes}}</td>
                            <td><a href=""><i class="fa fa-check text-navy"></i></a></td>

                            <td>20%</td>
                            <td>{{detail.date}}</td>
                            <td>
                                <!-- <button type="button" class="btn btn-primary btn-outline" ng-click="startExp()">做作业</button> -->
                                <button type="button" class="btn btn-primary btn-outline" ng-click="doHomework(detail)">做作业</button>

                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>