<div class="inmodal">
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="cancel()">×</button>
        <h5 class="modal-title">添加实验</h5>
        <small class="font-bold">Python语言与数据分析/课时1</small>
        <!-- <i class="fa fa-laptop modal-icon"></i> -->
        <!-- <h4 class="modal-title">上传声音文件</h4>
                        
                                <small class="font-bold">下方填写文件描述并上传文件，越详细越好~</small> -->
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="containerAddr" placeholder="配置容器地址">

            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">配置容器地址</button>

            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-success">启动容器</button>

            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">保存</button>

            </div>
        </div>

        <!-- <div class="form-group">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox">记住密码
                            </label>
                        </div>
                        <div style="margin-left:40%;">
                            <a class="forgot-link" href="#" style="text-align:center">忘记密码?</a>
        
                        </div>
                    </div> -->
        </form>
        <!-- <div class="alt-text">or</div>
                    <div class="modal-border"></div> -->
        <!-- <div class="alt-btn">
                        <a class="btn btn-block commonBtn" href="#">Log in with Facebook</a>
                        <a class="twitter-btn btn btn-block" href="#">Log in with Facebook</a>
                    </div> -->

    </div>
    <!-- <div class="panel-footer">
            <p style="text-align:center">? <a href="javascript:(0)" ng-click="goLogin()">登录</a></p>
        </div> -->
    <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-white" ng-click="cancel()">取消</button>
            
            
                    <button type="submit" class="btn btn-success" ng-click="ok()">保存</button>
                </div> -->
</div>