<div class="inmodal">
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="cancel()">×</button>
        <h5 class="modal-title">添加作业</h5>
        <small class="font-bold">{{module.courseName}}/{{module.moduleName}}</small>
        <!-- <small class="font-bold">Python语言与数据分析/课时1/张君义/作业1</small> -->

    </div>
    <div class="modal-body">

        <form class="form-horizontal">
            <div class="form-group"><label class="col-lg-3 control-label">作业名称</label>

                <div class="col-lg-9"><input type="text" placeholder="" ng-model="homework.homeworkName" class="form-control">
                </div>
            </div>
            <div class="form-group"><label class="col-lg-3 control-label">容器类型</label>
                <div class="col-lg-9"><select type="text" placeholder="" ng-model="homework.cloudwareType" ng-options="item.value as item.label for item in cloudwares" class="form-control">

                </select>
                </div>
            </div>
            <div class="form-group"><label class="col-lg-3 control-label">截止日期</label>

                <div class="col-lg-9"><input type="text" placeholder="" ng-model="homework.dueDate" class="form-control">
                </div>
            </div>
            <div class="form-group"><label class="col-lg-3 control-label">作业内容</label>

                <div class="col-lg-9"><textarea type="text" placeholder="简单描述一下作业吧" style="resize:none" rows="5" ng-model="homework.homeworkDes" class="form-control"></textarea>
                </div>
            </div>
            <!-- <div class="form-group"><label class="col-lg-3 control-label">授课教师编号</label>
    
                    <div class="col-lg-9">
                        <select class="form-control" ng-model="teacher.gender" ng-options="item.value as item.label for item in gender">
                                    
                                      </select>
                    </div>
                </div> -->


            <!-- <div class="form-group"><label class="col-lg-3 control-label">联系方式</label>
    
                    <div class="col-lg-9"><input type="text" ng-model="teacher.contact" placeholder="邮箱或者手机号码" class="form-control"></input>
                    </div>
                </div> -->

        </form>

    </div>
    <!-- <div class="panel-footer">
                            <p style="text-align:center">? <a href="" ng-click="goLogin()">登录</a></p>
                        </div> -->
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">取消</button>


        <button type="submit" class="btn btn-success" ng-click="ok()">保存</button>
    </div>
</div>