<!-- 一个模态框有三部分构成:header、body、footer
 -->
<div class="modal-header">
    <h4 class="modal-title">教师导入</h4>
</div>

<div class="modal-body">
    <div class="row">
        <!-- //http://localhost:5000/file -->
        <form enctype="multipart/form-data">
            <div class="form-group">

                <input class="form-control" type="file" ng-model="selectedFile" name="sample" />
                <!-- 
                <input type="text" name="classId" value="{{classId}}" hidden>
                <input type="text" name="Authorization" value="{{token}}" hidden> -->

                <!--            <input type="submit" class="btn btn-primary" value="上传文件"  ng-click="importFile()"/>
 -->
                <span us-spinner="{ color: '#0060b1', radius: 10, width: 5, length: 10, zIndex: 10 ,top:'30%'}" spinner-key="upload-teacher" spinner-start-active="false"></span>

            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger dim btn-outline" ng-click="close()"><i class="fa fa-times"></i> 关闭</button>
                <button type="submit" class="btn btn-info dim btn-outline" ng-click="ok()" ng-disabled="disableUpload"><i class="fa fa-upload"></i>上传</button>
            </div>
        </form>
        <div class="table-responsive" ng-show="failureList.length>0">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>失败列表</th>
                        <th>学号</th>

                        <th>学生姓名</th>
                        <th>失败原因</th>
                        <!-- 
                                <th>实验描述</th>
                                <th>实验类型</th>
                                <th>创建日期</th>
                                <th>
                                    <button type="button" class="btn btn-success btn-sm " ui-sref="index.addNewEx({courseId:courseDetail.courseId, moduleId:item.moduleId})">添加实验</button>
    
                                </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in failureList track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{item.studentNum}}
                        </td>
                        <td>{{item.studentName}}</td>
                        <td>{{item.reason}}</td>



                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>


<!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">关闭</button>
        <button type="submit" class="btn btn-info" ng-click="ok(username)">确定</button>
</div> -->