<div class="inmodal">
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="cancel()">×</button>
        <h4 class="modal-title">Phoenix</h4>



    </div>
    <div class="modal-body">
        <form>
            <!--<div class="form-group formField">-->
                <!--<div class="input-group">-->
                    <!--<div class="input-group-addon"><i class="fa fa-user"></i></div>-->

                    <!--<select class="form-control" ng-model="user.type" ng-options="item.label for item in usertypes" ng-change="change()">-->

                                 <!---->
                                  <!--</select>-->
                <!--</div>-->


            <!--</div>-->
            <div class="form-group formField">


                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-credit-card" style="    font-size: 10px;"></i></div>
                    <input type="text" class="form-control" id="exampleInputAmount" ng-model="user.id" placeholder="{{'请输入用户名'}}">

                </div>
            </div>

            <div class="form-group formField">
                <div class="input-group">

                    <div class="input-group-addon"> <i class="fa fa-lock" aria-hidden="true"></i></div>
                    <input type="password" class="form-control" ng-model="user.pass" placeholder="请输入密码">
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-success" ng-click="login()">登录</button>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                  <input type="checkbox">记住密码
                </label>
                </div>
                <div style="margin-left:40%;">
                    <a class="forgot-link" href="javascript:" ng-click="modifyPass()" style="text-align:center">忘记密码?</a>

                </div>
            </div>
        </form>

    </div>

</div>