<div class="main_wrapper">
    <div class="mainContent clearfix">


        <div class="container" style="width:100%">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-info" ng-click="show(1)">md</button>
                    <button type="button" class="btn btn-info" ng-click="show(2)">richEditor</button>

                    <button type="button" class="btn btn-info" ng-click="show(3)">gitbook</button>

                </div>
            </div>
            <hr>
            <div class="row" ng-show="show1">
                <div class="col-md-12">

                    <div id="test-editormd">
                        <textarea style="display:none;" ng-model="text" ng-change="test()"></textarea>
                    </div>

                    <!-- editor -->
                    <!-- <textarea ng-model="editor1" name="editor1" markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true}" on-fullscreen="onFullScreenCallback()" on-fullscreen-exit="onFullScreenExitCallback()" rows="10"></textarea> -->

                    <!-- <form>

                        <textarea name="content" data-provide="markdown" rows="10"></textarea>


                    </form> -->
                    <!-- use "markdown" or "marked" on your <div> preview to show Tables correctly -->
                    <!-- <form><textarea ng-model="text" style="width:100%;font-size:16px" id="or" tab ng-change="change()"></textarea></form> -->
                </div>
                <!-- <div class="col-md-6">


                    <div ng-bind-html="html" id="ht"></div>

                </div> -->

            </div>
            <div class="row" ng-show="show2">
                <div class="col-md-12">
                    <div class="summernote"></div>
                    <!-- <summernote config="options"></summernote> -->

                </div>
            </div>
            <div class="row" ng-if="show3">
                <div class="col-md-12">

                    <iframe src="https://tjxlab.gitbooks.io/bigdata/content/shuo-ming.html" width="100%" height="600px"></iframe>

                </div>
            </div>
        </div>
    </div>