<div class="row">
    <div class="col-sm-5 m-b-xs">
        <h4>Python语言与数据分析/课时1/作业1
        </h4>
    </div>
    <div class="col-sm-5 m-b-xs">
    </div>
    <div class="col-sm-2 m-b-xs">
        <button type="button" class="btn btn-success btn-sm" ng-click="uploadReport()">上传报告</button>
        <!-- <button type="button" class="btn btn-success btn-sm">启动作业容器</button>
   

        <button type="button" class="btn btn-success btn-sm">保存</button> -->

        <!-- <button type="button" class="btn btn-success btn-sm" ng-click="commitWork()">提交作业</button> -->
        <!-- <div class="input-group">
                                        <input type="text" placeholder="Search" class="input-sm form-control">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary form-control">搜索</button> </div>
                                    </div> -->
    </div>
</div>