

<div style="width:5px; background-color: #0060b1; height:800px; float: left; cursor: ew-resize;" id="resizeDiv" ng-mousedown="resizeMouseDown($event)" ></div>

<div style="height: 800px;">
    <!--File tree-->
    <div style="background-color: #F5f5f5; z-index:9; height:100%; width:20%; float:left; margin-left:auto; margin-right:auto; display: inline-block;" id="container_box">
        <div style="overflow: auto; height:100%; width: 100%">
            <div id="container"></div>
        </div>
    </div>

    <!--Vertical line-->
    <div style="width:2px; background-color: #0060b1; height:800px; float: left; cursor: ew-resize;"></div>

    <!--Editor-->
    <div style="background-color: #F5f5f5; z-index:9; height:100%; width:46.35%; float:right" id="editor">
        <!--CodeMirror-->
        <div style="height:80%;" id="design">
            <textarea ui-codemirror="cmOption"  ng-model="currentFileData"></textarea>
        </div>

        <!--Result-->
        <div style="border-width:2px 0 0 0; border-style:solid; border-color:black; height:20%;" id="runResult">
            <p>{{runResult}}</p>
        </div>
    </div>
</div>


<div left-Bar ></div>



<!--right bar-->
<button style="position: fixed;top:100px;right:0;z-index:101; height: 30px; width: 38px" class="navbar-minimalize minimalize-styl-2 btn btn-success " uib-tooltip="隐藏" ng-show="display_rightbar" ng-click="toggleRightBar()"><i class="fa fa-arrow-right"></i></button>
<button style="position: fixed;top:100px;right:0;z-index:101; height: 30px; width: 38px" class="navbar-minimalize minimalize-styl-2 btn btn-success " uib-tooltip="显示" ng-show="!display_rightbar" ng-click="toggleRightBar()"><i class="fa fa-arrow-left"></i></button>
<button style="position: fixed;top:140px;right:0;z-index:101; height: 30px; width: 38px" class="navbar-minimalize minimalize-styl-2 btn btn-success " uib-tooltip="新建" ng-show="display_rightbar" ng-click="addFiles(0)"><i class="fa fa-file-code-o"></i></button>
<button style="position: fixed;top:172px;right:0;z-index:101; height: 30px; width: 38px" class="navbar-minimalize minimalize-styl-2 btn btn-success " uib-tooltip="新建" ng-show="display_rightbar" ng-click="addFiles(1)"><i class="fa fa-file-code-o"></i></button>
<button style="position: fixed;top:204px;right:0;z-index:101; height: 30px; width: 38px" class="navbar-minimalize minimalize-styl-2 btn btn-success " uib-tooltip="删除" ng-show="display_rightbar" ng-click="deleteFile()"><i class="fa fa-recycle"></i></button>
<button style="position: fixed;top:312px;right:0;z-index:101; height: 30px; width: 38px" class="navbar-minimalize minimalize-styl-2 btn btn-success " uib-tooltip="保存" ng-show="display_rightbar" ng-click="saveFiles()"><i class="fa fa-floppy-o"></i></button>
<button style="position: fixed;top:346px;right:0;z-index:101; height: 30px; width: 38px" class="navbar-minimalize minimalize-styl-2 btn btn-success " uib-tooltip="运行" ng-show="display_rightbar" ng-click="runFiles()"><i class="fa fa-play"></i></button>
<button style="position: fixed;top:390px;right:0;z-index:101; height: 30px; width: 38px" class="navbar-minimalize minimalize-styl-2 btn btn-success " uib-tooltip="test" ng-show="display_rightbar" ng-click="test()"><i class="fa fa-fighter-jet"></i></button>


<p style="position: absolute; top: 200px; left: 50px;"> {{currentFilePath}}</p>
